@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.2.0/fabric.min.css" />
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/2.2.0/fabric.components.min.css">
    <link rel="stylesheet" href="~/Views/App/styles.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <title>
        Project Jar - @ViewBag.Title
    </title>
</head>
<body>
    <header class="ms-font-s">
        <div class="logo"><a href="~/"><img title="Project Jar" src="~/Views/Images/logo_inverted.png" /></a></div>
        <div class="title ms-font-xxl">@ViewBag.Title</div>
    </header>
    <main class="ms-font-m">
        @RenderBody()
    </main>
</body>
</html>
