@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/App/_Layout.cshtml";
    ViewBag.Title = "Recipes";
}


<ul class="ms-List">
    <li class="ms-ListItem is-selectable">
        <a href="~/app/recipe?name=Scrambled%20Eggs">
            <span class="ms-ListItem-primaryText">Scrambled Eggs</span>
            <span class="ms-ListItem-secondaryText">From All Recipes</span>
        </a>
    </li>
    <li class="ms-ListItem">
        <span class="ms-ListItem-primaryText">Teriyaki Salmon With Zucchini</span>
        <span class="ms-ListItem-secondaryText">
            From the Food Network Kitchen
        </span>
    </li>
</ul>
