@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/App/_Layout.cshtml";
    ViewBag.Title = "Recipes";
}


<ul class="ms-List">
    <li class="ms-ListItem is-selectable">
        <a href="~/app/recipe?name=Spanish%20Rice">
            <span class="ms-ListItem-primaryText">Spanish Rice</span>
            <span class="ms-ListItem-secondaryText">From Betty Crocker</span>
        </a>
    </li>
    <li class="ms-ListItem">
        <span class="ms-ListItem-primaryText">Simple Scrambled Eggs</span>
        <span class="ms-ListItem-secondaryText">
            From the Food Network Kitchen
        </span>
    </li>
</ul>
