@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/App/_Layout.cshtml";
    ViewBag.Title = "Recipes";
}


<h1>Recipes</h1>
<ul>
    <li><a href="~/app/recipe">Scrambled Eggs</a></li>
    <li>Recipe 2</li>
    <li>Recipe 3</li>
</ul>
