@inherits System.Web.Mvc.WebViewPage
@{
    Layout = "~/Views/App/_Layout.cshtml";
}

<div>
    <p>Add something tasty to your family’s Spanish dinner! 
       Enjoy this spicy rice that’s stir in tomato sauce – 
       a wonderful meal.</p>
    <h2 class="ms-font-l">Prepare Ingredients</h2>
    <div class="ms-Grid" id="recipe">
    </div>
</div>
<script src="~/Scripts/step.js"></script>
<script src="~/Scripts/recipe.js"></script>
<script src="~/Scripts/recipePage.js"></script>